<% player = Player.find(team_message.player_id) %>

<% if player == current_player %>
  <p align="right">
    <a class="ui circular blue inverted label">
      <%= team_message.body %>
    </a>
  </p>
<% else %>
  <p>
    <%= player.full_name %>: 
    <a class="ui circular label">
      <%= team_message.body %>
    </a>
  </p>
<% end %>