<% if match_message.player_id == current_player.id %>
  <p align="right">
    <%= match_message.body %> : 
    <a class="ui red label"><%= match_message.player_name %></a>
  </p>
<% else %>
  <p>
    <a class="ui blue label"><%= match_message.player_name %></a> : 
    <%= match_message.body %>
  </p>
<% end %>
