<% if match_message.player_id == current_player.id %>
  <p align="right">
    <a class="ui red circular label"><%= match_message.body %></a> : 
    <%= emojify match_message.player_name %>
  </p>
<% else %>
  <p>
    <%= match_message.player_name %> : 
    <a class="ui blue circular label"><%= emojify match_message.body %></a>
  </p>
<% end %>
