<p>
  <% if match_message.player_id == current_player.id %>
    <a class="ui circular red label"><%= match_message.player_name %></a> : 
  <% else %>
    <a class="ui circular blue label"><%= match_message.player_name %></a> : 
  <% end %>
  <%= match_message.body %>
</p>