<div class="home-bg">
    <div class="ui black inverted raise segment middle">
      <h1><i class="soccer icon" aria-hidden="true"></i>Soccer Challenge</h1>
      <%= link_to 'Sign In', signin_path, class: 'ui green button' %>
      <%= link_to 'Sign Up', new_player_path, class: 'ui orange button' %>
    </div>
</div>