<%= image_tag("grosso.gif", class: "ui fluid image home-gif") %>
<div class="ui black inverted raise segment main-board-align">
  <div class="ui items">
    <div class="item">
    <%= image_tag("logo_2.png", class: "ui rounded image  my-logo-70") %>

    <div class="middle aligned content">
      <h1>Soccer Challenge</h1>
    </div>
    </div>
  </div>
  <br><br>

  <div class="ui grid">
    <div class="ui row">
      <div class="four wide center aligned column">
        <i class="huge pie chart icon"></i><br>
        <h4>Field Owners can manage their fields online</h4>
      </div>
      <div class="four wide center aligned column">
        <i class="huge users icon"></i><br>
        <h4>Build your own soccer team with friends</h4>
      </div>

      <div class="four wide center aligned column">
        <i class="huge soccer icon"></i><br>
        <h4>Challege other teams with fairplay spirit</h4>
      </div>

      <div class="four wide center aligned column">
        <i class="huge trophy icon"></i>
        <h4>Amazing rating system. Track your result and be come legend</h4>
      </div>
    </div>

    <div class="ui row">
      <div class="four wide column">
      </div>

      <div class="eight wide center aligned column">
        <%= link_to 'Sign in', signin_path, class: 'ui green button' %>
        <%= link_to 'Sign up', new_player_path, class: 'ui blue button' %>
      </div>
    </div>
  </div>
</div>