<br><br>
<div class="ui container">
  <h1 class="ui header">
    Meet new players
  </h1>

  <%= link_to "Find Team ?", teams_path, class: "ui green button" %>
  <br><br>

  <div class="ui grid">
    <div class="eight wide column">
    <form class="ui icon form">
      <div class="field">
        <div class="ui icon input">
          <input placeholder="Search players name" type="text" name="search">
          <i class="search link icon"></i>
        </div>
      </div>
    </form>
    </div>
  </div>
  <br><br>

  <div class="ui five link cards">
    <% @players.each do |player| %>
      <div class="ui card">
        <%= link_to player_path(player) do %>
          <%= image_tag("muller.jpg", 
              class: "ui rounded four-three-image image") %>
        <% end %>

        <div class="center aligned content">
          <div class="ui small header">
            <%= link_to player.full_name, player_path(player), class: "black-color" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>