<h1 class="ui red header">Away: <%= away_team.name %></h1>
<div class="ui five link cards">
  <% away_team_players.each do |player| %>
    <div class="card">
      <a href="<%= player_path(player) %>"><div class="custom_img" style="background-image: url(<%= player.image_url_or_default %>);"></div></a>
      <div class="center aligned content">
        <div class="ui small header"><%= player.full_name %></div>
      </div>
    </div>
  <% end %>
</div>