<div class="ui small modal" id="edit_event">
  <h1 class="ui header">Select Field & Time</h1>
  <div class="content">
    <div class="ui large form">
      <%= render 'form', match: @match %>
    </div>
  </div>
</div>