<% if team %>
  <%= image_tag(team.image_url_or_default, class: "ui centered rounded image") %>
  <h4 class="ui huge center aligned header" id="team-text-color"><%= team.name %></h4>
<% else %>
  <%= image_tag("unknown_team.png", class: "ui centered rounded image") %>
  <h4 class="ui huge center aligned header" id="team-text-color">???</h4>
<% end %>