<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="column"></div>
    <div class="fourteen wide column">
      <div class="field-calendar" id="match-calendar-segment"></div>
    </div>
    <div class="column"></div>
  </div>
</div>