<br><br>
<div class="ui container">
  <div class="ui grid">
    <div class="ten wide column">
      <h1 class="ui header">Match</h1>
      
      <div class="ui hidden divider"></div>
      <p>Messages</p>
      <p>Message box</p>
    </div>
    <div class="ui six wide column">
      <h1 class="ui header">Home</h1>
      <h1 class="ui header">Away</h1>
      <button class="ui large green button">Select Field</button>
    </div>
  </div>
</div>