@import 'semantic';
@import 'datetimepicker';
@import 'home';
@import 'teams';

html{
  height: 100%;
}
body {
  height: 100%;
}

.black-color {
  color: black;
}

.player-image {
  height: 70% width;
  width: 100%;
}