@import 'semantic';
@import 'datetimepicker';
@import 'fullcalendar';
@import 'home';
@import 'field_owners';
@import 'fields';
@import 'teams';
@import 'players';
@import 'matches';

html{
  height: 100%;
}
body {
  height: 100%;
}

.black-color {
  color: black;
}

.white-color {
  color: white;
}

.red-color {
  color: #ce2b37;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.card-image {
  max-height: 100%;
}

#card-bg {
 box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

#surge-bg {
  background-color: #36B8B2;
}
