@import 'semantic';
@import 'datetimepicker';
@import 'fullcalendar';
@import 'home';
@import 'articles';
@import 'field_owners';
@import 'fields';
@import 'teams';
@import 'players';
@import 'matches';

html{
  height: 100%;
}
body {
  height: 100%;
}

.black-color {
  color: black;
}

.white-color {
  color: white;
}

.red-color {
  color: #ce2b37;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
  color: #32373A;
}

.home-image {
  height: 50px;
  width: 50px;
}

.nav-image {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  width: 27px;
  height: 27px;
}

.nav-text {
  padding-left: 5px;
  font-family: Lato;
}

#card-bg {
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

#surge-bg {
  background-color: #36B8B2;
  color: white;
}

#surge-text {
  color: #36B8B2;
}

#elegant-text {
  color: #32373A;
}

#silver-text {
  color: #D8D8D8;
}

.team-badge {
  height: 40px;
  width: 40px;
}

.team-stats {
  height: 20px;
  width: 20px;
}

.invi {
  opacity: 0;
}

#player-fixed-profile {
  position: fixed;
}

#team-fixed-profile {
  position: fixed;
}

.articles-segment {
  overflow: hidden;
  height: 200px;
}
