// Place all the styles related to the Fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#field-card {
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);

  .content > .header {
    color: #009999;
  }

  .image {
    border-radius: 10px 10px 0px 0px;
  }
}

#field-text-color {
  color: #112D4E;
}