.home-bg {
  background-image: url("grosso.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  position: relative;
}

.middle {
    position: absolute;
    left: 30%;
    top: 60%;
    width: 40%;
    opacity: 0.8;
}