// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui.cards > .card {
  &:hover {
    box-shadow: 0 0 8px #808080;
    transition: 0.5s;
  }

  .content > .header {
    font-weight: bold;
    color: green;
  }

  .custom_img {
    width: 100%;
    height: 110px;
    background-size: cover;
    background-position: 50% 50%;
  }
}

#match-text-color {
  color: #112D4E;
}