// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#match-card {
  &:hover {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    transition: 0.5s;
  }

  .content > .header {
    font-weight: bold;
    color: #009999;
  }

  .custom_img {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.match-messages-segment {
  overflow: auto;
  height: 150px;
}

#match-segment-bg {
  background: #E4F6F8; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FFFFFF, #E4F6F8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FFFFFF, #E4F6F8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FFFFFF, #E4F6F8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FFFFFF, #E4F6F8); /* Standard syntax */
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}

#match-text-color {
  color: #112D4E;
}

#match-segment {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}

#match-segment-top {
  display: table;
  height: 75%;
  width: 100%;
  text-align: center;
}

#match-segment-bottom {
  display: table;
  height: 25%;
  width: 100%;
  text-align: center;
}

#match-segment-content {
  display: table-cell;
  vertical-align: middle;
}