.team-member-segment {
  overflow: auto;
  height: 250px;
}

.team-request-segment {
  overflow: auto;
  height: 300px;
  width: 85%;
}

.team-profile-segment {
  width: 85%;
}

.team-discussion-segment {
  overflow: auto;
  height: 200px;
}

.match-invite-segment {
  overflow: auto;
  height: 250px;
}