<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <h1 class="ui header">Edit Field Information</h1>
      <div class="ui large form">
        <%= render partial: 'fields/form', locals: {field: @field} %>
        <%= link_to 'Back', field_owner_field_path(@field), class: 'ui large right floated button' %>
      </div>
    </div>

    <div class="four wide column"></div>
  </div>
</div>