<br><br>
<div class="ui container">
  <div class="ui three cards">
    <% @fields.each do |field| %>
      <div class="card">
        <a href="<%= field_owner_field_path(id: field) %>"><div class="custom_img" style="background-image: url(<%= field.image_url %>);"></div></a>
        <div class="center aligned content">
          <div class="ui small header">
            <%= field.name  %>
          </div>
        </div>
        <%= link_to 'Edit', edit_field_owner_field_path(id: field), class: 'ui blue attached button' %>
      </div>
    <% end %>
  </div>
</div>