<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="row">
      <div class="four wide column"></div>

      <div class="eight wide column">
        <div class="ui large form">
          <%= render partial: 'fields/form', locals: {field: @field} %>
        </div>

        <div class="ui medium info message">
          <div class="header"><i class="info circle icon"></i>
            What is a Field?
          </div>
          <ul class="list">
            <li>Field is a place for soccer teams play on.</li>
            <li>If you are a Field Owner, you can list your fields here</li>
          </ul>
        </div>
      </div>

      <div class="four wide column"></div>
    </div>
  </div>
</div>