<div class="ui top fixed huge inverted menu">
  <a class="item" href="<%= root_path %>">
    <strong><i class="soccer icon" aria-hidden="true"></i> Soccer Challenge</strong>
  </a>
  <a class="item" href="<%= signin_path %>">
    Sign in
  </a>
  <a class="item" href="<%= new_player_path %>">
    Sign up
  </a>
</div>
<br><br>